<% provide :title, @user.name %>
<h2 class="text-center text-uppercase font-weight-bold mb-5"><%= @user.name %></h2>
<div class="row">
  <div class="col-lg-4">
    <div class="media-img">
      <%= image_tag (@user.avatar or "profile_image.jpg") %>
    </div>
    <div class="user-info">
      <ul>
        <i class="fa fa-transgender"></i>
        <%= @user.gender %><br>

        <i class="fa fa-birthday-cake"></i>
        <%= l(@user.birthday, format: :short) %><br>

        <i class="fa fa-home"></i>
        <%= @user.address %><br>

        <i class="fa fa-envelope"></i>
        <%= @user.email %><br>

        <i class="fa fa-phone"></i>
        <%= @user.phone %><br>
      </ul>
    </div>
    <% if user_signed_in? && @user.follows.any? %>
      <h4><i class="fa fa-tags"></i><%= "Tags following" %></h4><br>
      <ul class="tags">
        <li>
          <% @user.all_following.each do |tag| %>
            <%= link_to tag.name, tag_path(tag.name) %>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>
  <div class="col-lg-8">
      <% if @user.curriculum_vitaes.any? %>
        <ul>
          <li class="cv-users">
            <i class="fa fa-user fa-2x"></i>
            <%= t ".listCV" %>
          </li>
          <li><%= render @user.curriculum_vitaes %></li>
        </ul>
      <% end %>
      <br>
      <% if @user.organizations.any? %>
        <hr><br>
        <ul>
          <li class="cv-users">
            <i class="fa fa-building-o fa-2x"></i>
            <%= t ".list_organizations" %>
          </li>
          <p><%= render @user.organizations %></p>
        </ul>
      <% end %>
      <br>
  </div>
</div>
