<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light p-0 navbar-static-top">
      <h1 class="title"><%= link_to t("base_title"), root_path, class: "navbar-brand" %></h1>
      <button class="navbar-toggler ml-lg-auto ml-sm-5 bg-light" type="button"
        data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="ml-lg-5 navbar-nav mr-lg-auto">
          <li class="nav-item mr-lg-4 mt-lg-0 mt-sm-4 mt-3">
            <%= link_to t(".createCV"), "#" %>
          </li>
          <li class="nav-item  mr-lg-4 mt-lg-0 mt-sm-4 mt-3">
            <%= link_to t(".createJob"), "#" %>
          </li>
        </ul>
        <%= link_to t(".signup"), "#", class: "btn w3ls-btn text-uppercase font-weight-bold d-block" %>
        <%= link_to t(".login"), "#", class: "btn w3ls-btn btn-2 ml-lg-1 text-uppercase font-weight-bold d-block" %>
      </div>
    </nav>
  </div>
</header>
<div class="d-flex banner-w3pvt-bg1 common-bg header">
  <div class="d-flex mx-auto align-items-center justify-content-center flex-column">
  </div>
</div>
